@using Anticipack.Resources.Localization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<AppResources> L

<div class="nav-container">
    <div class="top-row navbar navbar-dark">
        <div class="container-fluid">
            <button title="@L["NavigationMenu"]" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="packing-activities">
                    <span class="oi oi-list" aria-hidden="true"></span> @L["PackingActivitiesMenu"]
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="packing-dialog">
                    <span class="oi oi-chat" aria-hidden="true"></span> @L["PackingDialogMenu"]
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="user-settings">
                    <span class="oi oi-cog" aria-hidden="true"></span> @L["SettingsMenu"]
                </NavLink>
            </div>
        </nav>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "nav-menu-collapsed" : "nav-menu-expanded";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
